/* Add CSS Styling */

.odd-number {
    background-color: pink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.stylish {
    font-size: 24px;
}

#fourth {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}